@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: white;
  max-width: 402px;
  width: 100%;
  overflow: hidden;

  height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #dcdcdc;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.customCalendar {
  /* 전체 캘린더 컨테이너에 대한 스타일 */
  width: 100%;
  max-width: 320px;
  /* 예시: 원하는 폭으로 제한 가능 */
  margin: 0 auto;
}

.customCalendar .react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.customCalendar .react-calendar__navigation button {
  /* 버튼 스타일 */
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.customCalendar .react-calendar__navigation__label {
  /* 월/연도 표시 영역 */
  flex: 0 0 auto;
  text-align: center;
}